*.home.lan {
    tls /certs/home-certificate.pem /certs/home-private-key.pem {
        ca_root /certs/home-ca-certificate.pem
    }
}

jellyfin.home.lan {
    reverse_proxy 10.10.10.10:8096
}

jellyseerr.home.lan {
    reverse_proxy 10.10.10.10:5055
}

torrent.home.lan {
    reverse_proxy 10.10.10.10:9090
}

prowlarr.home.lan {
    reverse_proxy 10.10.10.10:9696
}

radarr.home.lan {
    reverse_proxy 10.10.10.10:7878
}

sonarr.home.lan {
    reverse_proxy 10.10.10.10:8989
}

*.{env.DUCKDNS_DOMAIN}.duckdns.org {
    tls {
        dns duckdns {env.DUCKDNS_TOKEN}
    }
}

https://jellyfin.{env.DUCKDNS_DOMAIN}.duckdns.org:443 {
    reverse_proxy 10.10.10.10:8096
}

https://jellyseerr.{env.DUCKDNS_DOMAIN}.duckdns.org:443 {
    reverse_proxy 10.10.10.10:5055
}

https://nextcloud.{env.DUCKDNS_DOMAIN}.duckdns.org:443 {
    reverse_proxy 10.10.10.10:11000
}
